In [1]:
import pandas as pd
file_path1="XLS_Child-labour-database_July-2024.xlsx"
file_path2="XLS_Child-marriage-database_May-2024.xlsx"
df1=pd.read_excel(file_path1,sheet_name='Child labour')
df2=pd.read_excel(file_path2,sheet_name='Child marriage')
df1

,Countries and areas,Child labour (%)+ \n(2015-2023)*,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Afghanistan,19.3,NaN,19.6,NaN,19,NaN,"MICS 2022-23, UNICEF and ILO calculations"
1,Albania,3.3,"x,y",3.6,"x,y",3,"x,y","CLS 2010, UNICEF and ILO calculations"
2,Algeria,2.5,NaN,2.9,NaN,2,NaN,"MICS 2018-19, UNICEF and ILO calculations"
3,Andorra,-,NaN,-,NaN,-,NaN,NaN
4,Angola,18.7,NaN,16.6,NaN,19.9,NaN,"DHS 2015-16, UNICEF and ILO calculations"
...,...,...,...,...,...,...,...,...
213,Eastern and Southern Africa,28.098,NaN,30.136,NaN,25.771,NaN,"DHS, MICS and other national surveys"
214,West and Central Africa,25.665,NaN,25.915,NaN,25.399,NaN,"DHS, MICS and other national surveys"
215,Least developed countries,22.632,NaN,23.457,NaN,21.674,NaN,"DHS, MICS and other national surveys"
216,World,-,NaN,-,NaN,-,NaN,NaN
217,1,2,3,4,5,6,7,8

In [3]:
merged_df=pd.merge(df1,df2,how='inner',on='Countries and areas')
merged_df

,Countries and areas,Child labour (%)+ \n(2015-2023)*,Unnamed: 2_x,Unnamed: 3,Unnamed: 4_x,Unnamed: 5,Unnamed: 6,Unnamed: 7,Married by 15,Unnamed: 2_y,Married by 18,Unnamed: 4_y,Reference year,Observation footnote,Data source,Married by 18.1,Unnamed: 9,Reference year.1,Observation footnote.1,Data source.1
0,Afghanistan,19.3,NaN,19.6,NaN,19,NaN,"MICS 2022-23, UNICEF and ILO calculations",9.6,NaN,28.7,NaN,2022-23,NaN,MICS 2022-23,7.3,NaN,2015,NaN,DHS 2015
1,Albania,3.3,"x,y",3.6,"x,y",3,"x,y","CLS 2010, UNICEF and ILO calculations",1.4,NaN,11.8,NaN,2017-18,NaN,DHS 2017-18,1.2,NaN,2017-18,NaN,DHS 2017-18
2,Algeria,2.5,NaN,2.9,NaN,2,NaN,"MICS 2018-19, UNICEF and ILO calculations",0,NaN,3.8,NaN,2018-19,NaN,MICS 2018-19,-,NaN,NaN,NaN,NaN
3,Andorra,-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN
4,Angola,18.7,NaN,16.6,NaN,19.9,NaN,"DHS 2015-16, UNICEF and ILO calculations",7.9,NaN,30.3,NaN,2015-16,NaN,DHS 2015-16,6,NaN,2015-16,NaN,DHS 2015-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Venezuela (Bolivarian Republic of),-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN
198,Viet Nam,6.9,NaN,6.4,NaN,7.6,NaN,"MICS 2020-21, UNICEF and ILO calculations",1.1,NaN,14.6,NaN,2020-21,NaN,MICS 2020-21,1.9,NaN,2020-21,NaN,MICS 2020-21
199,Yemen,15.9,y,13.9,y,18.1,y,MICS 2022-23,6.5,y,29.6,y,2022-23,41 out of the 880 selected enumeration areas c...,MICS 2022-23,-,NaN,NaN,NaN,NaN
200,Zambia,23,x,22.9,x,23,x,"Labour Force and CLS 2012, UNICEF and ILO calc...",5.2,NaN,29,NaN,2018,NaN,DHS 2018,2.8,NaN,2018,NaN,DHS 2018
201,Zimbabwe,27.9,NaN,33.1,NaN,22.4,NaN,"MICS 2019, UNICEF and ILO calculations",5.4,NaN,33.7,NaN,2019,NaN,MICS 2019,1.9,NaN,2019,NaN,MICS 2019

In [5]:
merged_df.drop_duplicates(inplace=True)
merged_df

,Countries and areas,Child labour (%)+ \n(2015-2023)*,Unnamed: 2_x,Unnamed: 3,Unnamed: 4_x,Unnamed: 5,Unnamed: 6,Unnamed: 7,Married by 15,Unnamed: 2_y,Married by 18,Unnamed: 4_y,Reference year,Observation footnote,Data source,Married by 18.1,Unnamed: 9,Reference year.1,Observation footnote.1,Data source.1
0,Afghanistan,19.3,NaN,19.6,NaN,19,NaN,"MICS 2022-23, UNICEF and ILO calculations",9.6,NaN,28.7,NaN,2022-23,NaN,MICS 2022-23,7.3,NaN,2015,NaN,DHS 2015
1,Albania,3.3,"x,y",3.6,"x,y",3,"x,y","CLS 2010, UNICEF and ILO calculations",1.4,NaN,11.8,NaN,2017-18,NaN,DHS 2017-18,1.2,NaN,2017-18,NaN,DHS 2017-18
2,Algeria,2.5,NaN,2.9,NaN,2,NaN,"MICS 2018-19, UNICEF and ILO calculations",0,NaN,3.8,NaN,2018-19,NaN,MICS 2018-19,-,NaN,NaN,NaN,NaN
3,Andorra,-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN
4,Angola,18.7,NaN,16.6,NaN,19.9,NaN,"DHS 2015-16, UNICEF and ILO calculations",7.9,NaN,30.3,NaN,2015-16,NaN,DHS 2015-16,6,NaN,2015-16,NaN,DHS 2015-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Venezuela (Bolivarian Republic of),-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN
198,Viet Nam,6.9,NaN,6.4,NaN,7.6,NaN,"MICS 2020-21, UNICEF and ILO calculations",1.1,NaN,14.6,NaN,2020-21,NaN,MICS 2020-21,1.9,NaN,2020-21,NaN,MICS 2020-21
199,Yemen,15.9,y,13.9,y,18.1,y,MICS 2022-23,6.5,y,29.6,y,2022-23,41 out of the 880 selected enumeration areas c...,MICS 2022-23,-,NaN,NaN,NaN,NaN
200,Zambia,23,x,22.9,x,23,x,"Labour Force and CLS 2012, UNICEF and ILO calc...",5.2,NaN,29,NaN,2018,NaN,DHS 2018,2.8,NaN,2018,NaN,DHS 2018
201,Zimbabwe,27.9,NaN,33.1,NaN,22.4,NaN,"MICS 2019, UNICEF and ILO calculations",5.4,NaN,33.7,NaN,2019,NaN,MICS 2019,1.9,NaN,2019,NaN,MICS 2019

In [7]:
missing_data_summary=merged_df.isnull().sum()
missing_data_summary

Countries and areas                   0
Child labour (%)+ \n(2015-2023)*      0
Unnamed: 2_x                        173
Unnamed: 3                            0
Unnamed: 4_x                        173
Unnamed: 5                            0
Unnamed: 6                          173
Unnamed: 7                          103
Married by 15                         0
Unnamed: 2_y                        157
Married by 18                         0
Unnamed: 4_y                        155
Reference year                       62
Observation footnote                179
Data source                          62
Married by 18.1                       0
Unnamed: 9                          169
Reference year.1                    104
Observation footnote.1              192
Data source.1                       104
dtype: int64

In [9]:
missing_data_summary=merged_df.isnull().sum()
merged_df.dropna(inplace=True)
merged_df

,Countries and areas,Child labour (%)+ \n(2015-2023)*,Unnamed: 2_x,Unnamed: 3,Unnamed: 4_x,Unnamed: 5,Unnamed: 6,Unnamed: 7,Married by 15,Unnamed: 2_y,Married by 18,Unnamed: 4_y,Reference year,Observation footnote,Data source,Married by 18.1,Unnamed: 9,Reference year.1,Observation footnote.1,Data source.1
18,Belize,3.3,x,3.9,x,2.6,x,"CAS 2013, UNICEF and ILO calculations",6.3,y,33.5,y,2015-16,Includes reference to visiting unions,MICS 2015-16,22.2,y,2015-16,Includes reference to visiting unions,MICS 2015-16
19,Benin,19.9,y,20.4,y,19.4,y,MICS 2021-22,5.9,y,27.5,y,2021-22,Two clusters could not be visited due to insec...,MICS 2021-22,4.6,y,2021-22,Two clusters could not be visited due to insec...,MICS 2021-22
130,Nigeria,31.5,y,33,y,30,y,MICS 2021,12.3,y,30.3,y,2021,"Due to prolonged insecurity concerns, some par...",MICS 2021,1.6,y,2021,"Due to prolonged insecurity concerns, some par...",MICS 2021
135,Pakistan,11.4,y,12.5,y,10.1,y,"LFS 2017-18, UNICEF and ILO calculations",3.6,y,18.3,y,2017-18,Azad Jammu and Kashmir (AJK) and Gilgit Baltis...,DHS 2017-18,4.7,y,2017-18,Azad Jammu and Kashmir (AJK) and Gilgit Baltis...,DHS 2017-18

In [13]:
def clean_text(text):
    if instance(text, str):
        text=''.join(text.split())
        text=''.join(e for e in text if e.isalnum()or e.isspace())
        return text
        merged_df=merged_df.applymap(clean_text)
cleaned_file_path='cleaned_combained_data.xlsx'
merged_df.to_excel(cleaned_file_path,index=False)
print("summary of cleaning data:")
print(merged_df.info())

summary of cleaning data:
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 18 to 135
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Countries and areas              4 non-null      object
 1   Child labour (%)+
(2015-2023)*  4 non-null      object
 2   Unnamed: 2_x                     4 non-null      object
 3   Unnamed: 3                       4 non-null      object
 4   Unnamed: 4_x                     4 non-null      object
 5   Unnamed: 5                       4 non-null      object
 6   Unnamed: 6                       4 non-null      object
 7   Unnamed: 7                       4 non-null      object
 8   Married by 15                    4 non-null      object
 9   Unnamed: 2_y                     4 non-null      object
 10  Married by 18                    4 non-null      object
 11  Unnamed: 4_y                     4 non-null      object
 12  Reference year                   4 non-null      object
 13  Observation footnote             4 non-null      object
 14  Data source                      4 non-null      object
 15  Married by 18.1                  4 non-null      object
 16  Unnamed: 9                       4 non-null      object
 17  Reference year.1                 4 non-null      object
 18  Observation footnote.1           4 non-null      object
 19  Data source.1                    4 non-null      object
dtypes: object(20)
memory usage: 672.0+ bytes
None